<template name="app">
    {{#header brandHref='/' headerClasses=instance.headerClasses}}
        {{#section 'brand'}}
            <img class="logo-image" src="/images/logo-icon.png" />
            <!-- <svg class="logo-image">
                <use xlink:href={{absoluteUrl "images/logo-icon.png"}}></use>
            </svg> -->
            <div class="logo-text">Nuclearis Viewer</div>
        {{/section}}
        {{#section 'headerAfterBrand'}}
            {{#if studyListToggleText}}
                <a href="#" class="btn studyListLinkSection pull-left js-toggle-studyList" id="{{dasherize studyListToggleText}}-btn">
                    {{studyListToggleText}}
                </a>
            {{/if}}
        {{/section}}
        {{#section 'headerMenu'}}
            <span class="user-name pull-left m-r-1">{{userName}}</span>
            <div class="menu-toggle pull-right">
                <i class="fa fa-cog"></i>
                <span class="caret-down"></span>
            </div>
        {{/section}}
    {{/header}}

    {{>Template.dynamic template=(choose this.template 'studylist') data=this}} 
</template>
